@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght,BNCE,SPAC@700,0,12&display=swap');

body {
	background: #212121;
	font-family: "Shantell Sans", cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings:
		"BNCE" 100,
		"INFM" 0,
		"SPAC" 12;
}

.container {
	width: 320px;
	margin: 0 auto;
	padding: 50px 0;
}

@media(max-width: 500px) {
	.container {
		padding: 15px 0;
	}
}

.header {
	width: 200px;
	margin: 0 auto;
}


.score-bar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.best-score {
	background: #FFE740;
	font-size: 20px;
}

.current-score {
	background: #67E667;
	font-size: 24px;
}

.score {
	text-align: center;
	color: white;
	padding: 15px;
	border-radius: 10px;
}

.game-wrapper {
	width: 304px;
	height: 304px;
	margin: 30px auto;
	border-radius: 10px;
	background: #67E667;
	background-image: url('./cell.webp');
	background-size: 16px 16px;
	box-shadow: 0 0 3px 3px white;
}

#game {
	height: 304px;
	width: 304px;
	display: block;
}


.button-wrapper {
	width: 200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.btn1 { 
	grid-area: 1 / 3 / 2 / 4; 
	background-image: url('./arrow/up.svg');
}
.btn2 { 
	grid-area: 2 / 2 / 3 / 3; 
	background-image: url('./arrow/left.svg');
}
.btn3 { 
	grid-area: 2 / 4 / 3 / 5; 
	background-image: url('./arrow/right.svg');
}
.btn4 { 
	grid-area: 3 / 3 / 4 / 4; 
	background-image: url('./arrow/down.svg');
}

.button {
	background-color: #67E667;
	box-shadow: 0 0 3px 3px white;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	background-size: 40px;
}

.d-none {
	display: none;
}